{% extends 'base.html.twig' %}

{% block title %}List of Loans{% endblock %}

{% block body %}
    <h1>List of Loans</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Monthly Net Income</th>
                <th>Loan Amount</th>
                <th>Loan Term</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.name }}</td>
                <td>{{ loan.phone }}</td>
                <td>{{ loan.email }}</td>
                <td>{{ loan.monthlyNetIncome }}</td>
                <td>{{ loan.loanAmount }}</td>
                <td>{{ loan.loanTerm }}</td>
                <td style="font-weight: bold">{{ loan.statusLabel }}</td>
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">Show</a>
                    <a href="{{ path('loan_edit', {'id': loan.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
