{% extends 'base.html.twig' %}

{% block title %}Loan Detail{% endblock %}

{% block body %}

    <h1>Summary</h1>
    {% if (loan.isApproved) %}
        <div class="btn-block pull-right">
            {{ include('loan/_repay_form.html.twig') }}
        </div>
    {% endif %}

    <table style="width: 400px; border: #222222" class="table">
        <tbody>
            <tr>
                <td>Loan Term (months)</td>
                <td style="text-align: right">{{ repaid_summary.loanTerm | number_format() }}</td>
            </tr>
            <tr>
                <td>Interest Rate (per month)</td>
                <td style="text-align: right">{{ repaid_summary.interestRate | number_format(2) }}%</td>
            </tr>
            <tr>
                <td>Loan Amount</td>
                <td style="text-align: right">{{ repaid_summary.loanAmount | number_format(2) }} USD</td>
            </tr>
            <tr>
                <td>Total Loan Repayments</td>
                <td style="text-align: right">{{ repaid_summary.totalLoanRepayments | number_format(2) }} USD</td>
            </tr>
            <tr>
                <td>Total Interest Paid</td>
                <td style="text-align: right">{{ repaid_summary.totalInterestPaid | number_format(2) }} USD</td>
            </tr>
            <tr>
                <td>Total Repaid Success</td>
                <td style="text-align: right">{{ repaid_summary.paidSucces | number_format(2) }} USD</td>
            </tr>
        </tbody>
    </table>

    <h1>Loan Repayment History</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Amount</th>
            <th>Status</th>
            <th>Pay For Repayment Date</th>
            <th>Pay at</th>
        </tr>
        </thead>
        <tbody>
        {% for loan_repayment in loan_repayments %}
            <tr>
                <td style="text-align: right">{{ loan_repayment.amount | number_format(2) }} USD</td>
                <td>{{ loan_repayment.statusLabel }}</td>
                <td>{{ loan_repayment.payForRepaymentDate ? loan_repayment.payForRepaymentDate|date('Y-m-d') : '' }}</td>
                <td>{{ loan_repayment.createdAt ? loan_repayment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Loan Detail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ loan.name }}</td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td>{{ loan.birthDate ? loan.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ loan.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ loan.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ loan.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ loan.city }}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{ loan.province }}</td>
            </tr>
            <tr>
                <th>Monthly Net Income</th>
                <td>{{ loan.monthlyNetIncome }}</td>
            </tr>
            <tr>
                <th>Loan Amount</th>
                <td>{{ loan.loanAmount }}</td>
            </tr>
            <tr>
                <th>Loan Term</th>
                <td>{{ loan.loanTerm }}</td>
            </tr>
            <tr>
                <th>Interest rate</th>
                <td>{{ loan.interestRate}}%</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ loan.statusLabel}}</td>
            </tr>
            {% if (loan.isApproved) %}
                <tr>
                    <th>First repayment date</th>
                    <td>{{ loan.firstRepaymentDate ? loan.firstRepaymentDate|date('Y-m-d') : ''}}</td>
                </tr>
                <tr>
                    <th>Next repayment date</th>
                    <td>{{ loan.nextRepaymentDate ? loan.nextRepaymentDate|date('Y-m-d') : ''}}</td>
                </tr>
            {% endif%}
        </tbody>
    </table>
{% endblock %}
